body{
    background-color: blanchedalmond;
}

.cal{
    margin-top: 5%;
    margin-left: 10%;
}

#btn{
    height: 30px;
    width: 30px;
    border: solid black;
    border-radius: 8%;
}
